body {
    background: url("./resources/blankMap.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
label, .labelText {
    color: #CCCCCC;
}
.configBox {
    margin: 10px 0;
    align-self: center;
}
.monster-box {
    margin-right: 30px;
}
.rotate {
    transform: rotate(90deg);
}
.rotate120 {
    transform: rotate(120deg);
}
.rotate30 {
    transform: rotate(30deg);
}
.revrotate {
    transform: rotate(-90deg);
}
.flip {
    transform: rotate(180deg);
}
.horz {
    transform: rotate(90deg);
}
.scenario-container {
    position: relative;
}
.scenario-items {
    display: flex;
    align-items: center;
}
.scenario-items > * {
    position: unset !important;
}
.map {
    pointer-events:none;
    position: absolute;
    z-index: 1;
    transform: scale(0.3);
    transform-origin: top left;
}
.available-item-container {
    display: flex;
}
.item {
    position: absolute;
    height: 50px;
    width: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    z-index: 30;
    border-radius: 12px;
}
.item.selected {
    box-shadow: 0 0 3px 3px turquoise !important;
}
.item:hover[id] {
    box-shadow: 0 0 1px 1px turquoise;
}
.trash-can {
    background-image: url("./resources/trashCan.png");
    background-size: contain;
    height: 60px;
    width: 50px;
}
.indicator {
    border: 3px solid red;
    border-radius: 30px;
    z-index: 100;
}
.marker {
    position: absolute;
    z-index: 31;
    border-radius: 80px;
    background-color: firebrick;
    font-size: 19px;
    color: antiquewhite;
    text-align: center;
    height: 22px;
    width: 22px;
    border: 3px solid antiquewhite;
}
.summon {
    z-index: 50 !important;
    border-radius: 80px;
    background-color: white;
    font-size: 40px;
    color: black;
    text-align: center;
}
.character {
    z-index: 40 !important;
    background-color: white;
    border-radius: 80px;
    border: 1px solid white;
}
.twoMinisBrown {
    background-image: url("./resources/twoMinisBrown.png");
    border: 1px solid white;
    border-radius: 80px;
}
.twoMinis {
    background-image: url("./resources/twoMinis.png");
}
.sun {
    background-image: url("./resources/sun.png");
}
.tinkerer {
    background-image: url("./resources/tinkerer.png");
}
.spellweaver {
    background-image: url("./resources/spellweaver.png");
}
.scoundrel {
    background-image: url("./resources/scoundrel.png");
}
.angryFace {
    background-image: url("./resources/angryFace.png");
}
.lightning {
    background-image: url("./resources/lightning.png");
}
.triforce {
    background-image: url("./resources/triforce.png");
}
.cragheart {
    background-image: url("./resources/cragheart.png");
}
.mindthief {
    background-image: url("./resources/mindthief.png");
}
.circles {
    background-image: url("./resources/circles.png");
}
.brute {
    background-image: url("./resources/brute.png");
}
.cthulu {
    background-image: url("./resources/cthulu.png");
}
.eclipse {
    background-image: url("./resources/eclipse.png");
}
.musicNote {
    background-image: url("./resources/musicNote.png");
}
.saw {
    background-image: url("./resources/saw.png");
}
.threeSpears {
    background-image: url("./resources/threeSpears.png");
}
.coin, .coinHorz {
    background-image: url("./scenBook/tokens/Coin.png");
    background-position: center;
    z-index: 45;
    width: 33px;
    height: 33px;
    border-radius: 18px;
}
.start {
    background-image: url("./scenBook/icons/start.png");
    opacity: 40%;
}
.startHorz {
    background-image: url("./scenBook/icons/startHorz.png");
    opacity: 40%;
}
.trap, .spikeTrap {
    background-image: url("./scenBook/tokens/spikeTrap.png");
    height: 57px;
}
.trapHorz, .spikeTrapHorz {
    background-image: url("./scenBook/tokens/spikeTrapHorz.png");
    height: 45px;
}
.nest {
    background-image: url("./scenBook/tokens/nest.png");
    height: 57px;
}
.nestHorz {
    background-image: url("./scenBook/tokens/nestHorz.png");
    height: 45px;
}
.hazard {
    background-image: url("./scenBook/tokens/hotCoals.png");
    height: 57px;
}
.hazardHorz {
    background-image: url("./scenBook/tokens/hotCoalsHorz.png");
    height: 45px;
}
.terrain, .difficult, .water {
    background-image: url("./scenBook/tokens/water.png");
    height: 57px;
}
.terrainHorz, .difficultHorz, .waterHorz {
    background-image: url("./scenBook/tokens/waterHorz.png");
    height: 45px;
}
.poisonGas {
    background-image: url("./scenBook/tokens/poisonGas.png");
    height: 55px;
}
.poisonGasHorz {
    background-image: url("./scenBook/tokens/poisonGasHorz.png");
    height: 45px;
}
.bearTrap {
    background-image: url("./scenBook/tokens/bearTrap.png");
    height: 55px;
}
.bearTrapHorz {
    background-image: url("./scenBook/tokens/bearTrapHorz.png");
    height: 45px;
}
.treasure {
    background-image: url("./scenBook/tokens/treasureVert.png");
    height: 57px;
    z-index: 45;
}
.treasureHorz {
    background-image: url("./scenBook/tokens/treasure.png");
    height: 45px;
    z-index: 45;
}
.pressure {
    background-image: url("./scenBook/tokens/pressurePlate.png");
    height: 57px;
}
.pressureHorz {
    background-image: url("./scenBook/tokens/pressurePlateHorz.png");
    height: 45px;
}
.altar {
    background-image: url("./scenBook/tokens/altar.png");
    height: 57px;
}
.altarHorz {
    background-image: url("./scenBook/tokens/altarHorz.png");
    height: 45px;
}
.door {
    height: 69px;
    width: 60px;
    background-size: 61px;
}
.doorHorz {
    height: 67px;
    width: 67px;
    background-size: 67px;
}
.woodDoor {
    background-image: url("./scenBook/tokens/woodDoor.png");
}
.woodDoorHorz {
    background-image: url("./scenBook/tokens/woodDoorHorz.png");
}
.stoneDoor {
    background-image: url("./scenBook/tokens/stoneDoor.png");
}
.stoneDoorHorz {
    background-image: url("./scenBook/tokens/stoneDoorHorz.png");
}
.darkFog {
    background-image: url("./scenBook/tokens/darkFog.png");
}
.darkFogHorz {
    background-image: url("./scenBook/tokens/darkFogHorz.png");
}
.lightFog {
    background-image: url("./scenBook/tokens/lightFog.png");
}
.lightFogHorz {
    background-image: url("./scenBook/tokens/lightFogHorz.png");
}
.obstacle1Horz {
    background-image: url("./scenBook/tokens/boulder1Horz.png");
    height: 45px;
}
.obstacle2Horz {
    background-image: url("./scenBook/tokens/boulder2Horz.png");
    background-size: 59px !important;
    width: 60px !important;
    height: 100px !important;
}
.obstacle3Horz {
    background-image: url("./scenBook/tokens/boulder3Horz.png");
    background-size: 100px !important;
    height: 100px !important;
    width: 100px !important;
}
.obstacle1 {
    background-image: url("./scenBook/tokens/boulder1.png");
    height: 57px;
}
.obstacle2 {
    background-image: url("./scenBook/tokens/boulder2.png");
    background-size: 100px !important;
    width: 100px !important;
    height: 60px !important;
}
.obstacle3 {
    background-image: url("./scenBook/tokens/boulder3.png");
    background-size: 100px !important;
    height: 100px !important;
    width: 100px !important;
}
.monster {
    z-index: 50 !important;
    font-size: large;
    text-align: center;
    line-height: 4.5;
    font-weight: bold;
}

.waiting-area {
    position: inherit;
}

.monster:after {
    content: '';
    background-color: white;
    background-size: 50px 50px;
    width: 26px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 12px;
    z-index: -1;
}

.elite:after {
    background-color: yellow;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#scenario-state {
    width: 100%;
    height: 440px;
}

.error {
    color: red;
}
